<div class="alert alert-block alert-info">
<center>ESTATÍSTICA APLICADA</center>
<center>PROJETO 1</center>
<center>ALUNO:Aryel</center>
</div>

<div class="alert alert-block alert-info">
Tarefa 1 .
</div>

In [85]:
import pandas as pd
import numpy as np
import zipfile
import datetime

É possivel acessar os arquivos diretamente do site usando o zipfile

In [111]:
df18=pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download',encoding='latin1',compression ='zip',sep=';')
df19=pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download',encoding='latin1',compression ='zip',sep=';')
df20=pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download',encoding='latin1',compression='zip',sep=';')
df21=pd.read_csv('http://arquivos.prf.gov.br/arquivos/index.php/s/n1T3lymvIdDOzzb/download',encoding='latin1',compression='zip',sep=';')


dftotal=pd.concat([df18,df19,df20,df21])
dftotal

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64510,425426.0,2021-05-13,quinta-feira,03:15:00,MG,381.0,"775,3",CAMPANHA,Condutor deixou de manter distância do veículo...,Colisão traseira,...,0,2,0,2,2,-21.790183,-45.446659,SR-MG,UOP02,DEL16
64511,425436.0,2021-11-15,segunda-feira,23:00:00,PA,10.0,"248,4",AURORA DO PARA,Transitar na contramão,Colisão transversal,...,1,1,0,2,2,-2.267754,-47.563084,SR-PA,UOP01,DEL02
64512,428107.0,2021-09-21,terça-feira,01:10:00,MG,50.0,20,ARAGUARI,Condutor Dormindo,Colisão com objeto,...,2,1,0,7,1,-18.58721,-48.056456,SR-MG,UOP02,DEL15
64513,435016.0,2021-12-29,quarta-feira,13:40:00,AC,364.0,170,BUJARI,Pista esburacada,Queda de ocupante de veículo,...,1,0,0,1,1,-9.766854,-68.056811,SR-AC,UOP01,DEL01
64514,441173.0,2021-08-22,domingo,17:10:00,MT,364.0,498,JANGADA,Reação tardia ou ineficiente do condutor,Colisão traseira,...,0,1,0,1,2,-15.263832,-56.455487,SR-MT,UOP02,DEL01

<div class="alert alert-block alert-info">
Tarefa 2 .
</div>

<div class="alert alert-block alert-info">
a) .
</div>

Podemos usar o len() para saber a quantidade exata de itens em um dataframe

In [112]:
print('Em 2018 ocorreram', len(df18), 'acidentes')
print('Em 2019 foram', len(df19), 'acidentes' )
print('em 2020 foram', len(df20), 'acidentes ')
print('Em 2021 foram',len(df21), 'acidentes.')

Em 2018 ocorreram 69295 acidentes
Em 2019 foram 67446 acidentes
em 2020 foram 63548 acidentes
Em 2021 foram 64515 acidentes.

Podemos ver que houve uma queda de 2018 para 2020 porem os numeros voltam a subir em 2021 após a pandemia

<div class="alert alert-block alert-info">
b) .
</div>

e aqui podemos adicionar o .columns ao len() para saber a quantidade exata de colunas em um dataframe

In [113]:
print('No Dataframe de 2018 há', len(df18.columns), 'variaveis')
print('No Dataframe de 2019 há', len(df19.columns), 'variaveis')
print('No Dataframe de 2020 há', len(df20.columns), 'variaveis')
print('No Dataframe de 2021 há', len(df21.columns), 'variaveis')

No Dataframe de 2018 há 30 variaveis
No Dataframe de 2019 há 30 variaveis
No Dataframe de 2020 há 30 variaveis
No Dataframe de 2021 há 30 variaveis

<div class="alert alert-block alert-info">
c) .
</div>

É possivel notar um grande salto do terceiro colocado SAO JOSE para o segundo CURITIBA,a diferença é mais de 9 mil

In [114]:

print('De 2018 até 2021, as cidades que mais ocorreram acidentes foram:')
dados = dftotal.groupby(['municipio']).size().reset_index(name = 'count')
dados = dados.sort_values(by = 'count', ascending=False)
dados.head()

De 2018 até 2021, as cidades que mais ocorreram acidentes foram:

      municipio  count
253    BRASILIA   3978
551    CURITIBA   3962
1680   SAO JOSE   3011
743   GUARULHOS   2781
1246    PALHOCA   2496

<div class="alert alert-block alert-info">
d) .
</div>

In [115]:
pb19 = df19[(df19.uf == 'PB') & (df19.feridos_graves >= 1)]
print('Na Paraiba ocorreram', len(pb19), 'acidentes com pessoas gravemente feridas em 2019')
pb19.head()

Na Paraiba ocorreram 414 acidentes com pessoas gravemente feridas em 2019

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
47,182271.0,2019-01-01,terça-feira,04:15:00,PB,361.0,"38,8",CATINGUEIRA,Ingestão de Álcool,Saída de leito carroçável,...,1,0,0,1,1,"-7,10157405","-37,60036469",SR-PB,DEL14/3,UOP01/PB
82,182312.0,2019-01-01,terça-feira,13:45:00,PB,230.0,"18,9",JOAO PESSOA,Defeito Mecânico no Veículo,Tombamento,...,1,1,0,1,2,"-7,129088","-34,850031",SR-PB,DEL14/1,UOP00/PB
357,182656.0,2019-01-03,quinta-feira,07:50:00,PB,101.0,"81,3",BAYEUX,Desobediência às normas de trânsito pelo condutor,Colisão lateral,...,1,1,0,1,2,"-7,126998","-34,941341",SR-PB,DEL14/1,UOP00/PB
564,183385.0,2019-01-04,sexta-feira,13:15:00,PB,230.0,"17,8",JOAO PESSOA,Não guardar distância de segurança,Colisão traseira,...,1,1,0,2,2,"-7,12064741","-34,84509414",SR-PB,DEL14/1,UOP00/PB
950,183831.0,2019-01-06,domingo,21:25:00,PB,101.0,10,MAMANGUAPE,Falta de Atenção à Condução,Colisão traseira,...,1,2,1,1,2,"-6,5959","-35,1448",SR-PB,DEL14/1,UOP03/PB

<div class="alert alert-block alert-info">
Questão 3.
</div>

<div class="alert alert-block alert-info">
a) .
</div>

aqui utilizei o groupby para organizar a lista por 'uf'

In [116]:
print("Esses são os estados com mais acidentes entre 2018 e 2021:")
lista = dftotal.groupby(['uf']).size().reset_index(name='total')
lista1 = lista.sort_values(by='total', ascending=False )
lista1.to_csv("totalporeEstado.csv")
lista1

Esses são os estados com mais acidentes entre 2018 e 2021:

    uf  total
10  MG  34483
23  SC  32034
17  PR  30185
18  RJ  17982
22  RS  17754
25  SP  17236
4   BA  13793
8   GO  13233
15  PE  10566
7   ES  10543
12  MT   9101
5   CE   6505
11  MS   6147
20  RO   6067
14  PB   5993
19  RN   5527
16  PI   5057
9   MA   4631
6   DF   3978
13  PA   3884
1   AL   2528
24  SE   2255
26  TO   2205
0   AC   1044
21  RR    991
3   AP    626
2   AM    456

Minas Gerais figura no topo da lista de acidentes,enquanto estados maiores como são paulo estão bem abaixo

<div class="alert alert-block alert-info">
b) .
</div>

aqui usei o groupby para organizar a lista por 'dia_semana'

In [117]:
print('Quantidade de acidentes por dia da semana')
listaa = dftotal.groupby(['dia_semana']).size().reset_index(name='total')
listaacop = listaa.sort_values(by = 'total', ascending = False)
print(lista2cop)

Quantidade de acidentes por dia da semana
      dia_semana  total
5         sábado  43872
0        domingo  43816
4    sexta-feira  40945
3  segunda-feira  35712
2   quinta-feira  34471
1   quarta-feira  33347
6    terça-feira  32641

É possivel notar uma pequena diferença entre sabado e domingo no numero de acidentes,e uma grande diferença do terceiro para o quarto lugar

<div class="alert alert-block alert-info">
Questão 4.
</div>

<div class="alert alert-block alert-info">
a) .
</div>

Aqui podemos usar o .head(1) e o .tail(1) para mostrar o primeiro e ultimo lugar respectivamente

In [118]:
ranking = dftotal.groupby(['causa_acidente']).size().reset_index(name = 'total')
rankingcop = ranking.sort_values(by='total', ascending = False)
print("A causa de acidente que mais ocorreu entre 2018 e 2021 foi: ")
rankingcop.head(1)

A causa de acidente que mais ocorreu entre 2018 e 2021 foi:

                 causa_acidente  total
37  Falta de Atenção à Condução  73231

In [119]:
print("A causa de acidente que menos ocorreu entre 2018 e 2021 foi:")
rankingcop.tail(1)

A causa de acidente que menos ocorreu entre 2018 e 2021 foi:

           causa_acidente  total
76  Sinalização encoberta      3

<div class="alert alert-block alert-info">
b) .
</div>

Para usar apenas o mês precisamos tratar a coluna data_inversa. Por isso importei datetime,onde podemos usar ferramentas para arrumar os dados.após utilizar a função pd.to_datetime() a coluna data_inversa sera mudada para uma data reconhecida pelo script. após posso colocar a função dt.month que identifica o mês da data.

In [123]:
#Ano de 2018
df18['mes'] = pd.to_datetime(df18['data_inversa']).dt.month
mes18 = df18.loc[:,['mes','pessoas','ilesos','feridos_graves']]
c = mes18.groupby(by='mes').sum()
pr_ilesos = (c['ilesos']/c['pessoas'])
pr_feridos = (c['feridos_graves']/c['pessoas'])
prop = pd.DataFrame(pr_ilesos).rename(columns={0:'proporção ilesos'}).round(2)
prop['proporção feridos graves'] = pd.DataFrame(pr_feridos).round(2)
prop

     proporção ilesos  proporção feridos graves
mes
1                0.51                      0.09
2                0.50                      0.09
3                0.48                      0.10
4                0.43                      0.11
5                0.42                      0.11
6                0.43                      0.12
7                0.44                      0.11
8                0.43                      0.11
9                0.42                      0.12
10               0.43                      0.11
11               0.43                      0.12
12               0.43                      0.11

In [124]:
#Ano de 2019
df19['mes'] = pd.to_datetime(df19['data_inversa']).dt.month
mes19 = df19.loc[:,['mes','pessoas','ilesos','feridos_graves']]
c = mes19.groupby(by='mes').sum()
pr_ilesos = (c['ilesos']/c['pessoas'])
pr_feridos = (c['feridos_graves']/c['pessoas'])
prop = pd.DataFrame(pr_ilesos).rename(columns={0:'proporção ilesos'}).round(2)
prop['proporção feridos graves'] = pd.DataFrame(pr_feridos).round(2)
prop

     proporção ilesos  proporção feridos graves
mes
1                0.42                      0.11
2                0.42                      0.11
3                0.43                      0.11
4                0.42                      0.11
5                0.42                      0.12
6                0.42                      0.12
7                0.44                      0.12
8                0.41                      0.12
9                0.42                      0.11
10               0.42                      0.12
11               0.43                      0.11
12               0.42                      0.11

In [122]:
#Ano de 2020
df20['mes'] = pd.to_datetime(df20['data_inversa']).dt.month
mes20 = df20.loc[:,['mes','pessoas','ilesos','feridos_graves']]
c = mes20.groupby(by='mes').sum()
pr_ilesos = (c['ilesos']/c['pessoas'])
pr_feridos = (c['feridos_graves']/c['pessoas'])
prop = pd.DataFrame(pr_ilesos).rename(columns={0:'proporção ilesos'}).round(2)
prop['proporção feridos graves'] = pd.DataFrame(pr_feridos).round(2)
prop

     proporção ilesos  proporção feridos graves
mes
1                0.42                      0.11
2                0.42                      0.11
3                0.40                      0.11
4                0.38                      0.12
5                0.40                      0.12
6                0.42                      0.12
7                0.42                      0.11
8                0.42                      0.12
9                0.42                      0.12
10               0.41                      0.12
11               0.41                      0.12
12               0.41                      0.12

In [102]:
#Ano de 2021
df21['mes'] = pd.to_datetime(df21['data_inversa']).dt.month
mes21 = df21.loc[:,['mes','pessoas','ilesos','feridos_graves']]
c = mes21.groupby(by='mes').sum()
pr_ilesos = (c['ilesos']/c['pessoas'])
pr_feridos = (c['feridos_graves']/c['pessoas'])
prop = pd.DataFrame(pr_ilesos).rename(columns={0:'proporção ilesos'}).round(2)
prop['proporção feridos graves'] = pd.DataFrame(pr_feridos).round(2)
prop

     proporção ilesos  proporção feridos graves
mes
1                0.43                      0.11
2                0.41                      0.12
3                0.41                      0.11
4                0.41                      0.12
5                0.42                      0.12
6                0.43                      0.11
7                0.43                      0.11
8                0.42                      0.12
9                0.42                      0.12
10               0.41                      0.12
11               0.43                      0.12
12               0.42                      0.11

<div class="alert alert-block alert-info">
c) .
</div>

Aqui podemos usar o drop para remover o 'index' e usar o groupby para agrupar os dados de antes e durante a pandemia

In [127]:
dfpand = pd.concat([df18,df19,df20,df21], keys = ['2018','2019','2020','2021'],names=['ano','index'])
dfpand = dfpand.reset_index().drop(['index'],axis=1)
dfpand = dfpand.groupby(['ano']).count().iloc[:,:1].rename(columns={'id':'n° acidentes'})
antes = pd.DataFrame(dfpand.iloc[:2,:].sum()).rename(index={'n° acidentes':'antes da pandemia'})
durante = pd.DataFrame(dfpand.iloc[2:,:].sum()).rename(index={'n° acidentes':'durante a pandemia'})
pd.concat([antes,durante]).rename(columns={0:'acidentes'})

                    acidentes
antes da pandemia      136741
durante a pandemia     128063